.contenedor_imagen {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: 1s ease-out;
  background-color: rgba(0, 0, 0, 0.3);
}

.contenedor_imagen:hover .overlay {
  opacity: 1;
}

.texto {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

div#contenedor_carousel {
  padding: 1em 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

div#contenedor_carousel > div {
  position: relative;
  left: 10%;
  flex: 0 0 auto;
}