#intro {
	padding: 2em 0;
	margin: 0;
	text-align: center;
}

#intro h1 {
	font-size: 2.8em;
}

#intro h1 span {
	color: #2570d4;
	display: block;
	font-size: 0.5em;
	letter-spacing: 0.1em;
	margin-bottom: 0.7em;
}

.contenido_parrafo_1>*, .contenido_parrafo_3>* {
	margin-bottom: 0.5em;
}

.contenido_parrafo_1, .contenido_parrafo_3 {
	color: white;
}

.contenedor_parrafo_2 {
	background-color: white;
	overflow: auto;
	text-align: center;
}

.contenido_parrafo_2 {
	display: inline-block;
	width: 15em;
	margin: 4em 3em;
	font-size: 16px;
}

@media screen and (max-width: 749px) {
	.contenedor_parrafo_1 {
		margin-bottom: 3em;
	}
	.contenido_parrafo_1, .contenido_parrafo_3 {
		padding: 5em 3em;
		font-size: 1.18em;
	}
	.contenido_parrafo_1 {
		background-color: rgb(216, 30, 91);
	}
	.contenido_parrafo_3 {
		background-color: rgb(37, 112, 212);
	}

	.contenido_parrafo_2 {
		width: 20em;
	}
}

@media screen and (max-width: 549px) {
	.contenido_parrafo_1, .contenido_parrafo_3 {
		padding: 5em 0.75em;
	}
	.contenido_parrafo_2 {
		margin: 4em 1em;
		width: 15em;
  }
}

@media screen and (min-width: 720px) {
	.contenedor_parrafo_1 {
		background: url('../imagenes/conocenos/fondo_conocenos1.jpg');
		background-size: cover;
		background-attachment: fixed;
		padding: 5em 0;
		margin: 1.5em 0;
		margin-bottom: 0;
		font-size: 1.4em;
	}

	.contenedor_parrafo_1 > * {
		margin-bottom: 7em;
	}

	.contenido_parrafo_1 {
		background-color: rgba(216, 30, 91, 0.75);
		width: 60%;
		text-align: left;
		margin-left: 5%;
		padding: 2.2%;
		
	}
	.contenido_parrafo_3 {
		background-color: rgba(37, 112, 212, 0.75);
		width: 60%;
		text-align: right;
		margin-left: 31.6%;
		padding: 2%;
	}

	.contenedor_parrafo_2 {
		background-color: rgba(255, 255, 255, 0.95);
	}
}

@media screen and (min-width: 1300px) {
	.contenedor_parrafo_1 {
		padding: 7em 0;
		margin: 3em 0;
		margin-bottom: 0;
	}
	.contenido_parrafo_1 {
		width: 40%;
	}
	.contenido_parrafo_3 {
		width: 40%;
		margin-left: 51.6%;
	}
}