.contenido_contenedor1 > * {
    margin-bottom: 0.5em;
}

.contenido_contenedor1 {
    background-color: rgba(216, 30, 91, 0.75);
    color: white; 
}  

.wrapper_contenedor2 {
    margin-bottom: 3em;
    overflow: auto;
    text-align: center;
}  

.contenido_contenedor2 {
    display: inline-block;
    width: 15em;
    margin: 0 3em;
    margin-bottom: 5em;
}

#working_with_us {
    padding: 3.75em 0;
    background-image: url(../imagenes/fondo_conocenos2.jpg);
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #f1f2f2;

    font-family: sans-serif;
    line-height: 1.4;
}

.wrap {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 1140px;
    position: relative; 
}

#working_with_us h2 {
    font-size: 2.4em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: block;
    margin-bottom: 1em;
}

#working_with_us ul li {
list-style-type: none;
display: inline-block;
width: 20%;
margin-right: 4%;
margin-bottom: 2em;
vertical-align: top;
}

#working_with_us .illustration {
width: 135px;
height: 135px;
background: #ffffff;
display: inline-block;
border-radius: 67px;
margin-bottom: 1em;
}

#intro {
    padding: 2em 0;
    margin: 0;
    text-align: center;
}

#intro h1 {
    font-size: 2.8em;
}

#intro h1 span {
    color: #2570d4;
    display: block;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    margin-bottom: 0.7em;
}

@media screen and (max-width: 749px) {

    .wrapper_contenedor1 {
        margin-bottom: 3em;
    }       

    
    .contenido_contenedor1 {
        background-color: rgb(216, 30, 91);
        padding: 8em 3em;
        font-size: 1.18em;
    } 

    .contenido_contenedor2 {
        width: 20em;
    }

    #working_with_us ul li {
        list-style-type: none;
        display: inline-block;
        width: 40%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 549px) {
    #working_with_us ul li {
        width: 90%;
        margin: 0;
    }
}

@media screen and (min-width: 720px) {
    .wrapper_contenedor1 {
        background: url('../imagenes/fondo_conocenos1.jpg');
        background-size: cover;
        padding: 5em 0;
        margin: 1.5em 0;
        font-size: 1.4em;
    }
    
    .contenido_contenedor1 {
        background-color: rgba(216, 30, 91, 0.75);
        width: 60%;
        text-align: left;
        margin-left: 5%;
        padding: 2.2em;
    }
}

@media screen and (min-width: 1250px) {
    .wrapper_contenedor1 {        
        padding: 7em 0;
        margin: 3em 0;
    }
    
    .contenido_contenedor1 {
        width: 40%;
    }    
}