@import url("fuentes.css");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'open_sans';
}

.separador {
  text-align: center; 
  padding: 1em; 
  margin: 2.5em 0;
  background-color: #f9f9f9;
  border-bottom: 0.2em solid #d81e5b;
  box-shadow: #afafaf 0 0.16em 0.20em 0;
}

a.boton_enlace {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: #2570d4;
  color: white;
}

div.contenedor_parrafo1 {
  background: url('../imagenes/fondoImagen2.png') #ffe8b7;
  background-size: cover;
  background-attachment: fixed;
}
div.contenedor_parrafo1 div{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em 1em;
}

div.contenedor_parrafo2 {
  display: table;
  text-align: justify;
}

div.contenedor_parrafo2 > div, div.contenedor_parrafo2 > img {
  display: table-cell;
  vertical-align: middle;
}


@media screen and (max-width: 749px) {
  .separador {
    font-size: 1.2em;
    margin: 0.5em 0;
  }

  div.contenedor_parrafo1 {
    padding: 3em 10%;
    font-size: 1.9em;
  }

  div.contenedor_parrafo2 {
    padding: 2.5em 5%;
  }

  div.contenedor_parrafo2 > div{
    display: block;
    width: 90%; 
    padding: 1em 0;
  }
}

@media screen and (max-width: 550px) {
  div.contenedor_parrafo1 {
    padding: 1.9em 2.5%;
    font-size: 1.22em;
  }
}


@media screen and (min-width: 750px) {
  .separador {
    position: sticky;
    top: 64px; 
  }
  
  div.contenedor_parrafo1 {
    padding: 2em 12.5%;
    font-size: 2.3em;
  }

  div.contenedor_parrafo2 {
    padding: 3em 10%;
    width: 82%;
  }

  div.contenedor_parrafo2 > div{
    line-height: 1.5em;
    padding: 1em 2em;
  }
}

@media screen and (min-width: 950px) {
  div.contenedor_parrafo1 {
    padding: 3em 20%;
    font-size: 2.5em;
  }

  div.contenedor_parrafo2 {
    padding: 4em 12.5%;
    width: 78%;
  }
}
