@import url("fuentes.css");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'open_sans';
}

a {
  text-decoration: none;
  color: inherit;
}


div.contenedor_parrafo1 {
  background: url('../imagenes/fondoImagen2.png') #ffe8b7;
  background-size: cover;
  color: white;
}
div.contenedor_parrafo1 div{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em 1em;
}

div.contenedor_parrafo2 {
  padding: 3em 33%;
  color: white;
}
div.contenedor_parrafo2 div{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em 1em;
}

@media screen and (max-width: 749px) {
  div.contenedor_parrafo1 {
    padding: 3em 10%;
    font-size: 1.9em;
  }

  div.contenedor_parrafo1 div span{
    display: none;
  }
}

@media screen and (max-width: 550px) {
  div.contenedor_parrafo1 {
    padding: 1.9em 2.5%;
    font-size: 1.22em;
  }

}

@media screen and (min-width: 750px) {
  
  div.contenedor_parrafo1 {
    padding: 2em 12.5%;
    font-size: 2.3em;
  }
}

@media screen and (min-width: 950px) {
  div.contenedor_parrafo1 {
    padding: 3em 20%;
    font-size: 2.5em;
  }
}
