@import url("fuentes.css");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  font-family: 'open_sans';
}

a.boton_enlace {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em;
  width: fit-content;
  border-radius: 0.2em;
  background-color: #2570d4;
  color: white;
}

.separador {
  text-align: center; 
  padding: 1em; 
  margin: 2.5em 0px;

  background-color: #f9f9f9;
  border-bottom: 0.2em solid #d81e5b;
  
  box-shadow: #afafaf 0px 2.5px 5px 0px;
}

div.contenedor_parrafo1 {
  background: url('../imagenes/fondoImagen2.png') #ffe8b7;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
div.contenedor_parrafo1 div{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em 1em;
}

div.contenedor_parrafo2 {
  display: table;
  text-align: justify;
}

div.contenedor_parrafo2 img{
  float: left;
  width: 50%;
}


@media screen and (max-width: 749px) {
  .separador {
    font-size: 1.2em;
    margin: 0.5em 0px;
  }

  div.contenedor_parrafo1 {
    padding: 3em 10%;
    font-size: 1.9em;
  }

  div.contenedor_parrafo1 div span{
    display: none;
  }

  div.contenedor_parrafo2 {
    padding: 2.5em 5%;
  }

  div.contenedor_parrafo2 > div, div.contenedor_parrafo2 img{
    width: 95%; 
    padding: 0px 2.5%;
  }
}

@media screen and (max-width: 550px) {
  div.contenedor_parrafo1 {
    padding: 1.9em 2.5%;
    font-size: 1.22em;
  }

  div.contenedor_parrafo2 {
    padding: 2em 2.5%;
  }
}


@media screen and (min-width: 750px) {
  .separador {
    position: sticky;
    top: 64px; 
  }
  
  div.contenedor_parrafo1 {
    padding: 2em 12.5%;
    font-size: 2.3em;
  }

  div.contenedor_parrafo2 {
    padding: 3em 7.5%;
  }

  div.contenedor_parrafo2 > div{
    float: left;
    width: 48%;
    padding: 0px 1%;
  }
}

@media screen and (min-width: 950px) {
  div.contenedor_parrafo1 {
    padding: 3em 20%;
    font-size: 2.5em;
  }

  div.contenedor_parrafo2 {
    padding: 4em 10%;
  }
}
