footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5em;
}

@media screen and (max-width: 749px) {
    footer {
        font-size: 1.5em;
    }  
  
}

@media screen and (max-width: 550px) {
    footer {
        font-size: 1.2em;
    }  
  
}

@media screen and (min-width: 750px) {
    footer {
        column-count: 2;
    }  
}

@media screen and (min-width: 950px) {
    footer {
        column-count: 3;
    }  
}