@font-face {
  font-family: 'open_sans';
  src: url('../fuentes/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fuentes/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}