@import url("fuentes.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'open_sans', sans-serif;
    overflow-x: hidden;
}

.separador {
    padding: 1em; 
    margin: 2.5em 0;
    text-align: center;
    background-color: #f1f1f1;
    border-bottom: 0.4em solid #d81e5b;
  }

.cargar_imagenes {
    animation-name: cargar_imagenes;
    -webkit-animation-name: cargar_imagenes;
    position: relative;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes cargar_imagenes {
    from {
        top: 200px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes cargar_imagenes {
    from {
        top: 200px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@media screen and (max-width: 749px) {
    .ocultar_movil {
        display: none;
    }

    .separador {
        font-size: 1.2em;
        margin: 0.5em 0;
      }

    aside#volver_arriba {
      position: fixed;
      right: 1em;
      bottom: 1em;
      color: white;
      border: solid 2px white;
      background-color: #2570d4;
      border-radius: 7.25%;
    
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
  
      padding: 0.8em;
      text-align: center;
    }
}

@media screen and (min-width: 750px) {
    .ocultar_grande {
        display: none;
    }

    .separador {
        position: sticky;
        top: 83px; 
        z-index: 40;
      }
}