header {
  position: sticky;
  top: 0;
  overflow: auto;
  width: 100%;
  z-index: 50;

	user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  background-color: black;
	color: white;
}

header .titulo {
  float: left;
  height: 45px;
  padding: 20px 0;
  padding-left: 1em;
}

header h1, header #animacion_titulo {
  font-size: 2em;
  display: inline-block;
} 

header #icono_menu, header nav#contenedor_menus {
  float: right;
}


@media screen and (max-width: 749px) {

  header {
    position: fixed;
    border-bottom: solid 6px #d81e5b;
  }

  header + *{
    margin-top: 85px;
  }

  header .titulo {
    font-size: 0.9em;
  }

  nav#contenedor_menus {
    text-align: center;
    width: 100%;
    overflow-x: hidden;
  }

  .boton_header{ 
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 1.5em;
    color: black;
    background-color: white;
    border-bottom: solid 1px black;
  }
  
  #icono_menu{
    color: white;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    height: 32px;
    padding: 24px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 750px) {

  .boton_header {
    color: white;
    float: left;
    height: 25px;
    padding: 30px 20px;
  }

	.seccion_actual, .boton_header:hover{
		background-color: #2570d4;
  }
}

@media screen and (min-width: 950px) {

  header .titulo {
    font-size: 1.1em;
  }

  .boton_header {
    padding: 30px
  }

}
