body {
  height: 1080px;
  overflow-y: hidden;
}

.contenedor_general {
  position: fixed;
  top: 25%;
  width: 100%;
  text-align: center;
}

.contenedor_secciones a {
  color: white;
  border: solid white 2px;
  display: inline-block;
  width: 150px;
  padding: 1em;
  margin: 0 2em;
  border-radius: 7.25px;
}

.contenedor_panel_rotativo {
  background-color: unset;
}

body {
  background: linear-gradient(-45deg, #d81e5b, #2570d4);
  background-size: 200% 200%;
  animation: 10s ease-in-out infinite;
  animation-name: anim_fondo;
  -webkit-animation-name: anim_fondo;
}

@keyframes anim_fondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.seccion_actual {
  animation: 5s ease-in-out infinite;
  animation-direction: alternate-reverse;
  animation-name: color_fondo;
  -webkit-animation-name: color_fondo;
}

.contenedor_panel_rotativo #espacio_titulo_inferior {
  animation: 5s ease-in-out infinite;
  animation-direction: alternate-reverse;
  animation-name: color_letra;
  -webkit-animation-name: color_letra;
}

.contenedor_panel_rotativo {
  animation: 5s ease-in-out infinite;
  animation-direction: alternate-reverse;
  animation-name: color_sombra;
  -webkit-animation-name: color_sombra;
}

@keyframes color_fondo {
  0% {
    background-color: #2570d4;
  }
  50% {
    background-color: #ffe8b7;
    color: #333333;
  }
  100% {
    background-color: #d81e5b;
  }
}

@keyframes color_letra {
  0% {
    color: #2570d4;
  }
  50% {
    color: #ffe8b7;
  }
  100% {
    color: #d81e5b;
  }
}

@keyframes color_sombra {
  0% {
    text-shadow: -10px -5px 5px #d81e5b;
    box-shadow: inset -10px -5px 5px #d81e5b, -10px -5px 5px #d81e5b;
  }
  100% {
    
    text-shadow: 10px 10px 5px #2570d4;
    box-shadow: inset 10px 10px 5px #2570d4, 10px 10px 5px #2570d4;
  }
}