#espaciado_superior {
    background-color: #d81e5b;
    font-family: 'roboto';
}
#espaciado_superior div {
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    padding:30px 0;
}
span#espacio_titulo_inferior {
    color: #ffe8b7;
}

@media screen and (max-width: 750px) {
    #espaciado_superior {
        display: none;
    }
}