@media screen and (min-width: 750px) {
	.espaciado_superior {
		background-color: #d81e5b;
		font-family: 'roboto';
	}
	.espaciado_superior div {
		width: 100%;
		height: 2em;
		text-align: center;
		font-size: 5em;
		font-weight: bold;
		line-height: 1em;
		padding: 1em 0;
	}
	span#espacio_titulo_inferior {
		color: #ffe8b7;
	}
}