	.contenedor_panel_rotativo {
		background-color: #d81e5b;
		font-family: 'roboto';
	}
	.contenedor_panel_rotativo div {
		width: 100%;
		height: 360px;
		text-align: center;
		font-weight: bold;
		padding: 1em 0;
	}
	span#espacio_titulo_superior {
		display: inline-block;
		font-size: 4em;
		height: 1em;
		margin-top: 1em;
		margin-bottom: 0.25em;
	}
	span#espacio_titulo_inferior {
		display: inline-block;
		font-size: 6em;
		height: 1em;
		margin-bottom: 1em;
		color: #ffe8b7;
	}
